<img class="title" src="https://zukan.pokemon.co.jp/img/logo.svg" />
<div class="main">
  <input
    class="search"
    #keyword
    size="20"
    [value]="getCurrentValue()"
    placeholder="検索"
  />
  <button (click)="searchPokemon(keyword.value)">Search</button>
  <table>
    <tr>
      <th>No</th>
      <th>名前</th>
    </tr>
    <tr *ngFor="let pokemon of pokemonData">
      <td>{{ pokemon.no }}</td>
      <td>
        <a routerLink="/pokemon/No/{{ pokemon.no }}">{{ pokemon.name }}</a>
      </td>
    </tr>
  </table>
</div>
